<!-- tasks/templates/tasks/signup.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'tasks/css/login.css' %}">
    <script type="module" src="{% static 'tasks/js/error.js' %}"></script>

    <title>Sign Up</title>
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/906/906334.png" type="image/png">
</head>
<body>
    <div class="container">
        
        <div class="left">
            <h1>Create an account</h1>
            <form method="POST">
                {% csrf_token %}
                <div class="error-messages" id="error-messages">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-danger">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
            
                <label for="name">Name</label>
                <input id="name" type="text" name="name" autocomplete="name" required>
                
                <label for="email">Email</label>
                <input id="email" type="email" name="email" autocomplete="email" required>
                
                <label for="password">Password</label>
                <input id="password" type="password" name="password" autocomplete="current-password" required>
                
                <label for="confirm_password">Confirm Password</label>
                <input id="confirm_password" type="password" name="confirm_password" autocomplete="current-password" required>
                
                <button type="submit">Sign up</button>
            </form>

            <p>Already have an account? <a href="{% url 'login' %}">Log in</a></p>
        </div>
        <div class="right">
            <img src="{% static 'tasks/img-vid/gears.png' %}">
        </div>
    </div>
</body>
</html>
