<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskMate</title>
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/906/906334.png" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'tasks/css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'tasks/css/taskalert.css' %}">
    <script type="module" src="{% static 'tasks/js/loader.js' %}"></script>
    <link rel="stylesheet" href="{% static 'tasks/css/loader.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


</head>
<body>
    <div id="loader" class="loader">
        <i class="fas fa-spinner fa-spin"></i>
    </div>
    <div class="sidebar">
        <div class="logo">
            <i class="fas fa-tasks"></i> TaskMate
        </div>
        <ul>
            <li><a href="{% url 'task_section' %}"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
            <li><a href="{% url 'AddTask' %}"><i class="fas fa-user-plus"></i> Add Tasks</a></li>
            <li><a href="{% url 'dashboard' %}"><i class="fas fa-bookmark"></i> Tasks</a></li>
            <li><a href="{% url 'task_alert' %}" class="active"><i class="fas fa-bell"></i> Task Alerts</a></li>
            <li><a href="{% url 'profile' %}"><i class="fas fa-user"></i> Profile</a></li>
        </ul>
    </div>

    <div class="main-content">
        <header>
            <div class="user-info">
                <span>Hi, {{ user.first_name }} {{ user.last_name }}</span>
                <a href="{% url 'logout' %}" class="logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
            </div>            
        </header>

        <div class="content">
            <section id="dashboard" class="active-section">
                <h2>Task Alerts</h2>        
                <p>{{ notification_message }}</p>
            
                {% if upcoming_tasks %}
                    <div class="task-list">
                        {% for task in upcoming_tasks %}
                            <div class="task-card">
                                <h3><strong>{{ task.task_name }}</strong></h3>
                                <p><strong>Due on:</strong> {{ task.end_date }}</p>
                                <p><strong>Priority:</strong> 
                                    <span class="priority-label {{ task.priority|lower }}">{{ task.priority }}</span>
                                </p>
                                <p><strong>Status:</strong> {{ task.is_completed|yesno:"Completed,In Progress" }}</p>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>No tasks are due for today.</p>
                {% endif %}
            </section>
        </div>
        
    </body>
</html>